html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
  background-image: url(./images/thunderstorm);
  background-repeat: no-repeat;
}

header {
  display: flex;
  justify-content: center; 
  font-size: 3em;
  color: white;
  /* background-color: blue; */
  font-family: Tahoma;
}

 #button-container {
  display: flex;
  justify-content: flex-start;
  margin: 3em;
 }

 button {
   color: lightskyblue;
   size: 2em;
 }

 .input {
   background-color: lightblue;
 }

 .searchResults {
  color: white;
  margin-left: 5em;
 }